.app { 
  padding-inline: 33vw;
  height: 100vh;
  overflow-x: scroll;
  aspect-ratio: 9/16;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.app::-webkit-scrollbar {
  display: none;
}

.media-scroller {
  height: inherit;
  display: grid;
  grid-auto-flow: column;
  /* grid-auto-columns: 100%; */
  gap: 1;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.media-scroller::-webkit-scrollbar {
  display: none;
}
.app-images{
  height: 35vh;
}
.app-locations{
  height: 30vh;
}
.app-tags{
  height: 20vh;
}
.app-notes{
  height: 15vh;
}




.card{
  align-self: center;
  text-align: center;
  color: white;
  height: 95%;
  margin: 5px;
  background: #282c34;
  border-radius: 2%;
  padding: 1%;
  width: 300px;

}
.card:hover{
  background-color: dimgray;
}
.card img{
  max-width: fit-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/*960 x 540 aspect ratio I am going for*/
